img.mainmenucontainer-logo {
	display: block;
	height: 30%;
	margin: 20px auto;
	padding: 0 0;
	width: 20%;
}

div.mainmenucontainer-buttonarea {
	display: block;
	margin: 0  auto;
	padding: 0 0;
}
	div.mainmenucontainer-buttonarea button {
		display: block;
		margin: 0 auto;
	}